.HULK-chat {
  display: flex;
  height: calc(100vh - 75px);
  background-color: rgb(248, 248, 248);
}

.HULK-chat-side-content {
  overflow: auto;
  padding: 20px 45px;
  min-width: 200px;
  border-right: 1px solid rgb(225, 219, 219);
}

.HULK-chat-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.HULK-chat-main-content-room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  color: #504e4e;
  border-top: 1px solid rgb(229, 225, 225);
  padding: 12px;
}

.HULK-chat-main-content-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.HULK-chat-main-content-messages-no-room,
.HULK-chat-main-content-messages-no-messages {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.HULK-chat-main-content-messages::-webkit-scrollbar {
  display: none;
}

.HULK-message {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: inline-block;
}

.HULK-message .HULK-message-user-info {
  font-size: 12px;
}

.HULK-join-leave-message {
  display: flex;
  background-color: #519fb7;
  color: #fff;
  justify-content: center;
  font-size: 12px;
  max-width: fit-content;
  align-self: center;
  padding: 2px 10px;
  border-radius: 30px;
}

.my-message {
  display: flex;
  align-self: flex-end;
  background-color: #008cba;
}

.my-message .HULK-message-content {
  align-self: flex-end;
}
.other-message .HULK-message-content {
  align-self: flex-start;
}

.other-message {
  display: flex;
  align-self: flex-start;
  background-color: #35a8a2;
}

.HULK-chat-main-content-message-input {
  display: flex;
  gap: 12px;
  padding: 20px;
  max-width: 100%;
}

.HULK-chat-main-content-message-input input {
  padding: 10px;
  border: 1px solid #e4d8d8;
  border-radius: 4px;
  flex: 1;
}

.HULK-chat-side-content-rooms-wrapper .HULK-button {
  width: 100%;
  margin-bottom: 10px;
}

.HULK-chat-side-content-rooms {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}
.HULK-chat-side-content-rooms-room {
  border: 1px solid rgb(226, 224, 224);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.HULK-chat-side-content-rooms-room-active {
  background-color: #35a8a2;
  border: 1px solid #35a8a2;
  color: white;
}

.HULK-chat-side-content-users-wrapper {
  margin-top: 20px;
}

.HULK-chat-side-content-users {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}

.HULK-chat-side-content-users-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.HULK-chat-side-content-users-user-indicator {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 50%;
}

.HULK-chat-side-content-users-user-indicator-active {
  border: none;
  border: 1px solid #35a8a2;
  background-color: #35a8a2;
}
