.HULK-chat-side-content {
  overflow: auto;
  padding: 20px 45px;
  min-width: 200px;
  border-right: 1px solid rgb(225, 219, 219);
}

.HULK-chat-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.HULK-chat-main-content-room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  color: #504e4e;
  border-top: 1px solid rgb(229, 225, 225);
  padding: 12px 20px;
}
