.HULK-chat-side-content-rooms-wrapper .HULK-button {
  width: 100%;
  margin-bottom: 10px;
}

.HULK-chat-side-content-rooms {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}
.HULK-chat-side-content-rooms-room {
  border: 1px solid rgb(226, 224, 224);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.HULK-chat-side-content-rooms-room-active {
  background-color: #35a8a2;
  border: 1px solid #35a8a2;
  color: white;
}
